<div class="text-center">
  <%= image_tag @howl.image.url(:medium) %>
</div>

<%= render 'form' %>

<div class="text-center edit-links">
  <%= link_to "Cancel", howl_path(@howl) %>
  |
  <%= link_to "Delete Howl", howl_path(@howl), method: :delete, data: { confirm: "Are you sure you want to delete this howl?"} %>
</div>
