<div class="howls-wrapper row">
  <%= render 'howl', howl: @howl %>
  <div class="text-center edit-links">
    <%= link_to "Home", howls_path, class: "" %>
    <% if @howl.user == current_user %>
      |
      <%= link_to "Edit Howl", edit_howl_path(@howl) %>
    <% end %>
  </div>
</div>
