$icon-font-path: "bootstrap/";
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

html {
}

body {
  margin-top: 100px;
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.alert {
  margin-bottom: 0px;
}

.alert-fixed {
  position:fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index:9999;
  border-radius:0px
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

/* ## NAVBAR CUSTOMIZATIONS ## */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.navbar-brand {
  margin-top: 0px;
  padding-top: 0px;
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}

/* ## HOWL CUSTOMIZATIONS ## */

.howls-wrapper {
  padding-top: 0px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.howl {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  box-shadow: 10px 10px 45px #888888;
  .howl-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;
    .doggo-name, .time-ago {
      display: inline;
    }
    .doggo-name {
      font-weight: 500;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
    }
  }
  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

.howl-bottom {
  .doggo-name, .barkback-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .doggo-name {
    font-weight: 500;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }
  .doggo-name, .caption-content {
    display: inline;
  }
  #barkback {
    margin-top: 7px;
    .doggo-name {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-barkback-icon {
      float: right;
      color: #515151;
    }
    .love-barkback-icon {
      float: right;
      text-decoration: none;
    }
  }
  margin-bottom: 7px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}

.barkback-content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  width: 100%;
  color: #4B4F54;
}

.barkback-love-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}

.doggo-name a:hover {
  color: #2D6DA8;
  text-decoration: none;
}

.barkbacks {
  .paginator {
    margin: 0.5em;
    .more-barkbacks {
      color: #A5A7AA;
    }
  }
}

.overlap-wrapper {
  pointer-events: none;
  padding-top: 0px;
  margin: 0 auto;
  max-width: 642px;
  width: 50%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.overlap {
  margin-top: -200px;
  position: relative;
  left: 130px;
  background-image: image-url('scent.png');
  width: 380px;
  height: 292px;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 0px;
  padding-top: 180px;
  padding-bottom: 0px;
}

/* ## Wrapper and styling for the new and edit views ## */

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.registration-bg {
  position: fixed;
  margin-top: -50px;
  padding-top: 80px;
  height: 100%;
  width: 100%;
  background-image: image-url("sign_up_background.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-bg {
  position: fixed;
  margin-top: -50px;
  padding-top: 80px;
  height: 100%;
  width: 100%;
  background-image: image-url("log_in_background.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading{
  h1 {
    text-align: center;
  }
}

#image-preview {
  margin: 0px auto;
}

#howl_image {
  padding: 1em;
  margin: 0px auto;
}

#paginator {
  color: #4090DB;
  height: 120px;
  width: 120px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border: 2px solid #4090DB;
  border-radius: 50%;
  :hover {
    border: 1px solid #2D6DA8;
    border-radius: 50%;
    color: #4090DB;
  }
}

#moar {
  display: table-cell;
  font-size: 12px;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  a :hover {
    color: #2D6DA8;
  }
}

.barkbacks {
  .paginator {
    margin: 0.5em;
    .moar-barkbacks {
      color: #A5A7AA;
    }
  }
}

.barkback-submit-button {
  position: absolute;
  left: -9999px;
}

/* ## PROFILE CUSTOMIZATIONS ## */

.profile-header {
  padding: 20px 0;
  margin-bottom: 40px;
}

.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}

.doggo-name-and-follow {
  display: inline;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.profile-doggo-name {
  display: inline;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 20px;
}

#user_bio {
  border: 1px solid gray;
}

#user_avatar {
  margin: 20px auto;
}

/* ## LOVES CUSTOMIZATIONS ## */

.loves {
  margin-bottom: 7px;
  color: #4b4f54;
}

.love {
  text-decoration: none;
  color: red;
}

.love-button a:hover, a:focus {
  text-decoration: none;
  color: red;
}

/* ## FOLLOWING CUSTOMIZATIONS ## */

.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}

.getJsonBtn {
  margin-top: 50px;
  margin-bottom: -40px;
}

.jsonDiv {
  margin-top: 50px;
}

.panel-body {
  margin-top: -15px;
}
