<div class="flash">

    <% flash.each do |type, message| %>
      <div class="alert alert-fixed <%= alert_for(type) %> alert-dismissible text-center fade in">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>

</div>
