<% if user_signed_in? %>
  <ul class="nav navbar-nav navbar-right">
    <p class="navbar-text"><i class="glyphicon glyphicon-user"></i> Signed in as <%= current_user.email %> </p>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <p class="navbar-text whitetext"><span class="glyphicon glyphicon-log-out"></span> Sign Out</p>
    <% end %>
  </ul>
<% else %>
  <ul class="nav navbar-nav navbar-right">
    <%= link_to new_user_session_path do %>
      <p class="navbar-text whitetext"><span class="glyphicon glyphicon-log-in"></span> Sign In</p>
    <% end %>
    <%= link_to new_user_registration_path do %>
      <p class="navbar-text whitetext"><span class="glyphicon glyphicon-user"></span> Sign Up</p>
    <% end %>
  </ul>
<% end %>
